@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.heart:hover{
    color: red;
}

.opacity-popup{
    opacity: 0;
}

.perfTitleFont{
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
}